{% extends 'userena/base_userena.html' %}

{% block title %} Product {% endblock %}

{% block content_title %}
<div class="page-header">  
	<h1> 电子书</h1>
</div>
{% endblock %}


{% block sidebar %}
  <div class="sidebar">
    <div class="well">
      <h4>最新书籍</h4>
      <ul>
      </ul>
    </div>
  </div>
{% endblock %}


{% block content %}


<div class="content">
  {% load pagination_tags %}
    {% autopaginate products %}
    
	{% for o in products %}
	
    <div class="media" style="height: 180px;">
	 
		    <a class="pull-left" href="#">
	        <img class="media-object"   src="{{ o.get_thumbnail_url }}" alt="">
	        </a>
		  <div class="row">
			<div class="span5">
				<h4 class="media-heading">{{o.title}}</h4>
				{{o.description}}
			</div>
			<div class="span1 pull-right">
						<p><a class="btn primary" href="{% url product_detail o.pk %}">查看</a></a> </p>
						<p><a class="btn success" href="{% url product_edit o.pk %}">编辑</a> </p>
						<p><a class="btn danger" href="#">删除</a></p>
			</div>
		  </div>
    </div>
	<hr style="border:4" color="#987cb9" width="100%" SIZE="2">
   {% endfor %}


   	{% for o in products %}
	   <div class="media" style="height: 180px;">
	 
		  <a class="pull-left" href="#">
	        <img class="media-object"   src="{{ o.get_thumbnail_url }}" alt="">
	      </a>
		  <div class="row">
			 <div class="span5">
				<h4 class="media-heading">{{o.title}}</h4>
				<p></p>
				<p>
				{{o.description}}
				</p>
				 <dl class="dl-horizontal span5 pull-right">
				     <dt class="user-option pull-right">
						<div>
							<a onclick="Keep.like({{ o.pk }}, this)" href="javascript:;" title="收藏"><i class="icon-thumbs-up"></i>收藏 {{ o.num_views }}</a>
							<a onclick="Keep.share({{ o.title }},'{% url product_detail o.pk %}', '{{ o.get_thumbnail_url }}', this)" href="javascript:;"><i class="icons icon-share"></i>分享</a>
							<a onclick="Keep.comment({{ o.pk }}, this)"><i class="icons icon-comment"></i>评论 </a>
							<p>
							<a class="username" href="#" target="_blank">{{ o.user.username }}</a>
						    <span class="time"> - 10/28 11:11收藏了</span>
							</p>
						 </div>
				     </dt>
				     <dd  class="pull-right">
					    <a class="user30" href="" target="_blank">
					      <img src="/static/634577493731971067.jpg_30" title="爱库小秘书">
                          <em class="vip"></em>
				        </a>
				    </dd>
		        </dl>
			</div>
			<div class="span1 pull-right">
						<p><a class="btn primary" href="{% url product_detail o.pk %}">查看</a></a> </p>
						<p><a class="btn success" href="{% url product_edit o.pk %}">编辑</a> </p>
						<p><a class="btn danger" href="#">删除</a></p>
			</div>
		  </div>
		  </div>
  <hr style="border:4" color="#987cb9" width="100%" SIZE="2">
  </dl>
   {% endfor %}
  
	{% comment %}
    <div class="products">
      <div class="pic">
        <img src="{{ o.get_thumbnail_url }}"/>
      </div>
      <div class="info">
        <h3> <a href="{% url product_detail o.pk %}">{{o.title}}</a> </h3>
        <div class="extinfo">
          <span>浏览: {{o.num_views}}</span>
          <span>回复: {{o.num_replies}}</span>
          <span>by: 
            <a href="{% url userena_profile_detail o.created_by.username %}">
              {{o.created_by}}
            </a>
          </span>
          <span>创建: {{ o.created_on|date:"Y-m-d H:i"}}</span>
        </div>
        {{ o.intro|slice:"160"|linebreaksbr }}{% if o.intro|length > 340 %}...{% endif %} 
      </div>
    </div>
    {% endcomment %}
  
  </div>
  {% paginate %}
{% endblock %}


{% comment %}
{% block content %} 
<table>
<thead>
<tr><th>Record</th><th colspan="3">Actions</th></tr>
{% for item in products %}
<div class="row" style="padding-top:10">
	<div class="span3 media-grid">
		<a href="#">
	    <img class="thumbnail" src="{{ item.thumbnail }}" alt="">
	    </a>
	</div>
	<div class="span-two-thirds">
		<h4>{{item.title}}</h4>
		{{item.description}}
	</div>
	<div class="span2" style="align:right">
		<p><a class="btn primary" href="{% url product_detail item.id %}">查看</a></a> </p>
		<p><a class="btn success" href="{% url product_edit item.id %}">编辑</a> </p>
		<p><a class="btn danger" href="#">删除</a></p>
	</div>
</div>
{% endfor %}
</table>
<div align="center">
{% if products.has_previous %}
    <a href="?page={{ products.previous_page_number }}">Previous</a>
{% endif %}

<span class="current">
    Page {{ products.number }} of {{ products.paginator.num_pages }}.
</span>

{% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Next</a>
{% endif %}

</div>
{% endblock %}
{% endcomment %}