{% load i18n %}

  <h1>{% trans "Signin" %}</h1>
    <hr/>
    <form id="signin_form" action="" method="post" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        {{ form.as_div }}
        <div class="form-actions">
          <p>
            <input type="button" onclick="keep_login_post();" value="{% trans 'Signin' %}" class="btn btn-primary">
			&gt; 还没有帐号？<a href="{% url userena_signup %}">立即注册</a>
          </p>
          <p class="forgot-password">
            <a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a>
          </p>
        </div>
      </fieldset>
    </form>
