{% extends "base_site.html" %}

{% block title %}
  FAQ
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1>
      FAQ
    </h1>
    <hr>
    <div style="margin-top: 10px;">
      <p>
        <strong>Q:</strong> 网站的jerryminds由来是什么?
        <br/>
        <strong>A:</strong> 之前看过一本书叫做,暗时间, 也是一个关于逻辑思考的博客,作者叫作hackminds,觉得不错,于是借过来用.
 <p> &nbsp; </p>
        <strong>Q:</strong> 网站的模块是由那些组成的?
        <br/>
        <strong>A:</strong> 网站包括时间轴,这个模块借鉴了time-line的网站, 发现模块是为了发现优秀的互联网内容,为大家提供 聚合.
书籍模块主要是关注一些优秀的图灵书籍.
 <p> &nbsp; </p>
        <strong>Q:</strong> 网站使用什么语言开发?
        <br/>
        <strong>A:</strong> 网站是纯python开发,使用了DJNAOG 框架.   <p> &nbsp; </p> 
        <strong>Q:</strong> 是否可以参入到jerryminds网站的开发?
        <br/>
        <strong>A:</strong> 可以,请与作者联系.  <p> &nbsp; </p> 
       
        <strong>Q:</strong> 网站的后台架构是如果架构的?
        <br/>
        <strong>A:</strong> 使用的是 ramhost+django+apache2+wsgi+mysql+memcache+celery 
同时还使用了大量的google api的相关内容.  <p> &nbsp; </p> 
      </p>
<p> &nbsp; </p> 

    </div>
  </div>
{% endblock %}
