{% extends "timeline/base.html" %}

{% load timeline_widget_tags %}

{% block title %} 
  {% if pg == "hot" %} 热门 {% endif %}
  {% if pg == "last" %} 最新 {% endif %}
  {% if pg == "recommend" %} 推荐 {% endif %}
  {% if pg == "random" %} 发现 {% endif %}
  {% if pg == "tag" %} 标签 {{ tag.name }} {% endif %}
  -
  似水流年，岁月留痕 - 用时间线来展现历史 
{% endblock %}

{% block container_top %}
<div class="page-header">  
<h1>
  {% if pg == "hot" %} 热门 {% endif %}
  {% if pg == "last" %} 最新 {% endif %}
  {% if pg == "recommend" %} 推荐 {% endif %}
  {% if pg == "random" %} 发现 {% endif %}
  {% if pg == "tag" %} 标签 {{ tag.name }} {% endif %}
</h1>
</div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar">
    <div class="well">
      <h4>最新时间线</h4>
      <ul>
        {% tl_last %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="content">
  <div class="timelines">
    {% load pagination_tags %}
    {% autopaginate timelines %}
    {% for o in timelines %}
    <div class="media" style="height: 180px;">
   
        <a class="pull-left" href="#">
          <img class="media-object"   src="{{ o.get_cover_url }}" alt="">
          </a>
      <div class="row">
      <div class="span5">
        <h4 class="media-heading">{{o.title}}</h4>
        {{o.description}}
      </div>
      <div class="span1 pull-right">
            <p><a class="btn primary" href="{% url timeline_detail o.pk %}">查看</a></a> </p>
            <p><a class="btn success" href="{% url timeline_edit o.pk %}">编辑</a> </p>
            <p><a class="btn danger" href="#">删除</a></p>
      </div>
      </div>
    </div>
  <hr style="border:4" color="#987cb9" width="100%" SIZE="2">

    {% endfor %}
  </div>
  {% paginate %}
</div>
{% endblock %}
