<!--header -->
<div id="header-wrap"><header>

 	<hgroup>
        <h1 id="logo-text"><a href="/" title="">翻墙乐趣的博客</a></h1>
		<p id="slogan">Stay Hungry,Stay Foolish... </p>
    </hgroup>

    <nav>
		<ul>
			{% if nav_current %}
			<li {% ifequal nav_current 0 %}id="current"{% endifequal %}><a href="{% url blog_index %}">首页</a><span></span></li>
			<li {% ifequal nav_current 1 %}id="current"{% endifequal %}><a href="{% url blog_categories %}">分类</a><span></span></li>
			<li {% ifequal nav_current 2 %}id="current"{% endifequal %}><a href="{% url blog_contact %}">留言板</a><span></span></li>
			<li {% ifequal nav_current 3 %}id="current"{% endifequal %}><a href="{% url blog_about %}">关于</a><span></span></li>
			{% else %}
			<li id="current"><a href="{% url blog_index %}">首页</a><span></span></li>
			<li><a href="{% url blog_categories %}">分类</a><span></span></li>
			<li><a href="{% url blog_contact %}">留言板</a><span></span></li>
			<li><a href="{% url blog_about %}">关于</a><span></span></li>
			{% endif %}
		</ul>
	</nav>

    <div class="subscribe">
        <span>订阅:</span> <a href="#">Email</a> | <a href="{% url blog_rss %}">RSS</a>
    </div>

   <form id="quick-search" method="get" action="{% url blog_search %}">
      <fieldset class="search">
         <label for="q">Search:</label>
         <input class="tbox" id="qsearch" type="text" name="q" value="Search..." title="开始输入，按回车键进行搜索" onfocus="clS(1);" onblur="clS(0);" />
         <button class="btn" title="点击搜索">Search</button>
      </fieldset>
   </form>
   
   <script type="text/javascript"> 
        function clS(t){
                var srch = document.getElementById('qsearch'), val = srch.value.toString().toLowerCase(), re = /^\s+$/;
                if(t) {
                        if(val == 'search...' || val == 'search'){
                                srch.value = '';
                        }
                } else {
                        if(val == 'search...' || val == 'search' || val == '' || re.test(val)) {
                                srch.value = 'Search...';
                        }
                }
        }
    </script> 

<!--/header-->
</header></div>