<div id="subscribemodal" class="modal hide fade">
	<div class="modal-header" >
		<a class="close" data-dismiss="modal">×</a>
		<h3>邮件订阅请填写：</h3>
	</div>
	<div class="modal-body">
		<form action="{% url blog_subscriber %}" method="post" id="subscribeform">
			{% csrf_token %}
			<div>
			    <label for="username">昵称 <span>*</span></label>
				{{ subscribe_form.username }}
			</div>
            <div>
				<label for="email_address">电子邮箱（会为你保密） <span>*</span></label>
				{{ subscribe_form.email_address }}
			</div>
			<input class="button" type="submit" value="提交" />
		</form>
	</div>
</div>