<!DOCTYPE HTML>
<html{% block xmlns %}{% endblock %}>
	<head>
		<title>{% block title %}{% endblock %}翻墙乐趣的博客</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta property="wb:webmaster" content="3caf5a5b94e6991e" />
		{% block meta %} {% endblock %}
		
		<link rel="shortcut icon" href="/static/blog/dopetrope/images/chine.ico"/>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/blog/dopetrope/js/jquery-1.8.3.min.js"><\/script>')</script>
		<script src="/static/blog/dopetrope/css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI.titleBarOverlaid=1&amp;viewport_is1000px=1060"></script>
		<script src="/static/blog/dopetrope/js/jquery.dropotron-1.2.js"></script>
		<script src="/static/blog/dopetrope/js/init.js"></script>
		<script src="/static/blog/coolblue/js/scrollToTop.js"></script>
		<script src="/static/blog/coolblue/js/jquery.cookie.js"></script>
		<script src="/static/blog/coolblue/js/theme.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/blog/dopetrope/css/5grid/core.css" />
			<link rel="stylesheet" href="/static/blog/dopetrope/css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="/static/blog/dopetrope/css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="/static/blog/dopetrope/css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="/static/blog/dopetrope/css/style.css" />
			<link rel="stylesheet" href="/static/blog/dopetrope/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/blog/dopetrope/css/ie8.css" /><![endif]-->
		
		{% block css %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" media="screen" href="/static/blog/dopetrope/css/chine.css" />
		
		{% block js %}
		{% endblock %}
	</head>
	<body id="top" class="homepage">
		{% block header %}
			{% include "blog/dopetrope/nav.html" %}
		{% endblock %}
		
		<!-- Main Wrapper -->
		<div id="main-wrapper">
			<div class="5grid-layout">
				
				<div class="row">
					<div class="12u">
						
						<!-- Portfolio -->
						<section>
							<div class="5grid">
								<div class="row">
									
									<div class="8u mobileUI-main-content">
									{% block main %}
									{% endblock %}
									</div>
									
									{% include "blog/dopetrope/sidebar.html" %}
								</div>
							</div>
						</section>

					</div>
				</div>
				
			</div>
		</div>
		
		{% block footer %}
			{% include "blog/dopetrope/footer.html" %}
		{% endblock %}
		
		{% block footerjs %}
		{% endblock %}
		
		{% if not settings.debug %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-22437438-1']);
		    _gaq.push(['_trackPageview']);
		
		    (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>  
		{% endif %}
	
	</body>
</html>