{% extends "blog/dopetrope/base.html" %}

{% block title %}
所有分类 - 
{% endblock %}

{% block header %}
	{% include "blog/dopetrope/nav.html" with nav_current=1 %}
{% endblock %}

{% block main %}

{% for category in categories_with_articles %}
<article class="box">
	<header>
		<h2><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>
	</header>
	<section>
		<ul class="divided">
		{% for article in category.articles %}
		<li>
			<div><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></div>
			<div style="font-size: .9em;">发表于{{ article.created|date:"Y年n月j日 P" }}</div>
		</li>
		{% endfor %}
	</ul>
	</section>
	<footer class="actions">
		<a href="{{ category.get_absolute_url }}" class="button">更多文章 </a>
	</footer>
</article>
{% endfor %}

{% endblock %}