<!-- Footer Wrapper -->
<div id="footer-wrapper">
	
	<!-- Footer -->
	<section id="footer" class="5grid-layout">
		<div class="row">
			<div class="8u">

				<section>
					<header>
						<h2>最新评论</h2>
					</header>
					<ul class="dates">
						{% for comment in recent_comments %}
						<li>
							<span class="date">{{ comment.post_date|date:"M" }} <strong>{{ comment.post_date|date:"j" }}</strong></span>
							<h3>
								<a href="{% if comment.comment_obj.get_absolute_url %}{{ comment.comment_obj.get_absolute_url }}{% else %}/contact/{% endif %}#comment-{{ comment.id }}">
								{{ comment.username }}
								{% if comment.comment_obj.get_absolute_url %}在文章“{{ comment.comment_obj.title }}”下评论
								{% else %}在留言板留言
								{% endif %}
								</a>
							</h3>
							<p>{{ comment.content|safe }}</p>
						</li>
						{% endfor %}
					</ul>
				</section>
			
			</div>
			<div class="4u">
			
				<section>
					<header>
						<h2>关于作者</h2>
					</header>
					<a href="{% url blog_about %}" class="image image-full"><img src="/static/blog/dopetrope/images/avatar.jpg" alt="" /></a>
					<p>
						{{ author.abstract|removetags:"img div p"|safe }}
					</p>
					<footer>
						<a href="{% url blog_about %}" class="button">了解更多</a>
					</footer>
				</section>
			
			</div>
		</div>
		<div class="row">
			<div class="4u">

				<section>
					<header>
						<h2>所有分类</h2>
					</header>
					<ul class="divided">
						{% for category in categories %}
						<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				</section>

			</div>
			<div class="4u">

				<section>
					<header>
						<h2>友情链接</h2>
					</header>
					<ul class="divided">
						{% for link in links %}
						<li><a href="{{ link.site }}">{{ link.name }}</a></li>
						{% endfor %}
					</ul>
				</section>

			</div>
			<div class="4u">
			
				<section>
					<header>
						<h2>联系信息</h2>
					</header>
					<ul class="social">
						<li class="weibo"><a href="http://weibo.com/chinekingseu" class="icon48 icon48-8" target="_blank">Weibo</a></li>
						<li class="renren"><a href="http://www.renren.com/722143160/profile" class="icon48 icon48-10" target="_blank">renren</a></li>
						<li class="googleplus"><a href="https://plus.google.com/u/0/104329324960331213869/posts" class="icon48 icon48-6" target="_blank">Google+</a></li>
						<li class="facebook"><a href="http://www.facebook.com/chine.king" class="icon48 icon48-1" target="_blank">Facebook</a></li>
						<li class="twitter"><a href="https://twitter.com/chinekingseu" class="icon48 icon48-2" target="_blank">Twitter</a></li>
						<li class="linkedin"><a href="http://www.linkedin.com/profile/view?id=135688541" class="icon48 icon48-4" target="_blank">LinkedIn</a></li>
					</ul>
					<ul class="contact">
						<li>
							<h3>地址</h3>
							<p>
								北京市海淀区<br />
								某IT公司<br />
								10000
							</p>
						</li>
						<li>
							<h3>Mail</h3>
							<p><a href="mailto:chinekingseu@gmail.com">jerryxing98@gmail.com</a></p>
						</li>
						<li>
							<h3>QQ</h3>
							<p>419964206</p>
						</li>
					</ul>
				</section>
			
			</div>
		</div>
		<div class="row">
			<div class="12u">
			
				<!-- Copyright -->
					<div id="copyright">
						<ul class="links">
							<li>&copy; 2013  翻墙乐趣的博客 powered by Django</li>
							<li><a href="/sitemap.xml">Sitemap</a></li>
							<li><a href="{% url blog_rss %}">RSS</a></li>
							<li><a href="#top" class="back-to-top">Back to Top</a></li>
						</ul>
					</div>

			</div>
		</div>
	</section>
	
</div>