{% extends 'userena/base_userena.html' %}

{% load bookmark_widget_tags %}

{% block title %} 
  {% if pg == "hot" %} 热门 {% endif %}
  {% if pg == "last" %} 最新 {% endif %}
  {% if pg == "recommend" %} 推荐 {% endif %}
  {% if pg == "random" %} 发现 {% endif %}
  {% if pg == "tag" %} 标签 {{ tag.name }} {% endif %}
  -
  翻墙乐趣 - stay hungry stay foolish 
{% endblock %}

{% block content_title %}
<div class="page-header">  
<h1>
  {% if pg == "hot" %} 热门 {% endif %}
  {% if pg == "last" %} 最新 {% endif %}
  {% if pg == "recommend" %} 推荐 {% endif %}
  {% if pg == "random" %} 发现 {% endif %}
  {% if pg == "tag" %} 标签 {{ tag.name }} {% endif %}
</h1>

</div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar">
    <div class="well">
      <h4>最新发现</h4>
      <ul>
        {% tl_last %}
      </ul>
    </div>
  </div>
{% endblock %}






{% block content %} 


<div id="content" class="content">
  {% load pagination_tags %}
  {% load thumbnail %}
    {% autopaginate bookmarks %}
    {% load favorite_tags %}
	{% for o in bookmarks %}
	   <div class="media" style="height: 180px;">
	 
		  <a class="pull-left" href="#">
	        <img class="media-object"   src="{{ o.get_cover_url }}" alt="">
	        {% comment %}
			<img class="media-object"   src="{% thumbnail o.thumbnail 50x50 crop %}" value="{{ o.thumbnail.name }}" alt="">
			{% endcomment %}
	      </a>
		  <div class="row">
			 <div class="span5">
				<h4 class="media-heading">{{o.title}}</h4>
				<p></p>
				<p><i class="icon-tags"></i>
				
				</p>
				<p>
				{{o.description}}
				</p>
				 <dl class="dl-horizontal span5 pull-right">
				     <dt class="user-option pull-right">
						<div>
							{% favorite_link o %}
							<a onclick="Keep.share({{ o.title }},'{% url bookmark_detail o.pk %}', '{{ o.get_thumbnail_url }}', this)" href="javascript:;"><i class="icons icon-share"></i>分享</a>
							<a onclick="keep_comment_get({{ o.pk }})"><i class="icons icon-comment"></i>评论 </a>
							<p>
							<a class="username" href="#" target="_blank">{{ o.user.username }}</a>
						    <span class="time"> - 10/28 11:11收藏了</span>
							</p>
						 </div>
				     </dt>
				     <dd  class="pull-right">
					    <a class="user30" href="" target="_blank">
					      <img src="/static/634577493731971067.jpg_30" title="爱库小秘书">
                          <em class="vip"></em>
				        </a>
				    </dd>
		        </dl>
			</div>
			<div class="span1 pull-right">
						<p><a class="btn primary" href="{% url bookmark_detail o.pk %}">查看</a></a> </p>
						<p><a class="btn success" href="{% url bookmark_edit o.pk %}">编辑</a> </p>
						<p><a class="btn danger" href="#">删除</a></p>
			</div>
		  </div>
		  </div>
  <hr style="border:4" color="#987cb9" width="100%" SIZE="2">
  </dl>
   {% endfor %}

  </div>
  <span ><button id="loading-bar" type="button" class="span6 btn btn-primary" data-loading-text="加载中..." >加载更多</button></span>
  {% comment %}
  {% paginate %}
  {% endcomment %}
{% endblock %}





