{% extends 'userena/base_userena.html' %}
{% load compress %}
{% load bookmark_widget_tags %}

{% block title %}
  {{ tl.title }}
  - 翻墙发现
{% endblock %}

{% block extra_header %}
{{block.super}}
<style type="text/css">
  .content hr {
    margin: 5px 0;
  }
  .content > h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    clear: both;
  }
  #timeline-embed {
    margin:0px !important;
    border:1px solid #CCC !important;
    padding:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    -moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
    width: 940px;
    height: 640px;
  }
  #id_content {
    width: 650px;
  }
  .avatar.thumbnail img {
    width: 36px;
    height: 36px;
  }
</style>
{% endblock %}

{% block content_title %}
<div class="page-header">  
<h1>
详细
</h1>

</div>
{% endblock %}


{% block sidebar %}
<div class="sidebar">
   <div class="well">
    <h4>他的书签</h4>

  {% if bm.tags.all %}
    <div class="sidelables" style="margin-bottom: 10px;">
      {% for o in bm.tags.all %}
        <a href="{% url bookmark_tag o.name %}"> 
          {{ o }} 
        </a> 
      {% endfor %}
    </div>
  {% endif %}
  </div>

  <div class="well" id="sb_tl_creater">
    <div class="user avatar thumbnail">
      <a href="{% url userena_profile_detail bm.created_by.username %}">
        <img src="{{ bm.created_by.profile.get_mugshot_url }}"/>
      </a>
    </div>
    <div class="info">
      <ul>
        <li><a href="{% url userena_profile_detail bm.created_by.username %}">{{ tl.created_by.profile }}</a></li>
        <li>创建于： {{ bm.created_on|date:"Y-m-d H:i"}}</li>
        <li>更新于： {{ bm.updated_on|date:"Y-m-d H:i"}}</li>
      </ul>
    </div>
  </div>

  <div class="well">
    <div>
      <a class="btn" href="{% url userena_umessages_compose_to bm.created_by.username %}">申请加入</a>
    </div>
  </div>

  {% if auth_can_edit %}
    <div class="well">
      <h4>管理</h4>
      <ul>
        <li><a href="{% url bookmark_edit bm.pk %}">编辑发现信息</a></li>
        <li><a href="{% url bookmark_delete bm.pk %}" 
              onclick="return confirm('您确定需要删除该发现吗？删除后将无法恢复')">删除发现</a></li>
      </ul>
    </div>
  {% endif %}
</div>
{% endblock %}



{% block content %}
  <div class="content">
      
    <div class="title">
      <h2>
          <a href="#" target="_blank">{{ bm.title }}</a>
      </h2>
    </div>
    <div class="option">
      <i class="icon-share"></i>look     <i class="icon-share"></i>test
    </div>

    <div class="thumb">
        <a href="{{ bm.link.url }}" target="_blank"><img class="img-border" src="{{ bm.link.get_image_url }}"></a>
    </div>
    <div>
      <p>info</p>
    </div>

    <div id="ckepop" style="float: right;">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_qzone"></a>
      <a class="jiathis_button_tqq"></a>
      <a class="jiathis_button_renren"></a>
      <a class="jiathis_button_kaixin001"></a>
      <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <div>
      {{ bm.num_events }} 事件  |  {{ bm.num_views }} 浏览 |  {{ bm.num_replies }} 回复
    </div>
  

    <hr/>
    <div>
      {{ bm.intro|md }}
    </div>
    
    <div class="comments" id="id_comments">
      <h3>评论</h3>
      {% for c in comments %}
        {% include "bookmark/inc_comment.html" %}
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
      <div>
        <form action="{% url bookmark_postcomment_ bm.pk %}" method="post" id="comment_from">
          {% csrf_token %}
          <p>
            <h3>发表评论</h3>
          </p>
          <p>
            {{ form.content }}
          </p>
          <p style="clear:both;">
            <input type="submit" name="post" class="btn btn-primary" id="id_btn_submit" value="提交">
          </p>
        </form>
      </div>
    {% else %}
      <h3>
        您还未登录，请在<a href="{% url userena_signin %}">登录</a>后发表评论。
        如果您还没有帐号，请先<a href="{% url userena_signup %}">注册</a>。
      </h3>
    {% endif %}
  </div>
  </div>
{% endblock %}

{% block footer_ext %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery-bootstrap-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery.djangoajaxform.js"></script>
{% endcompress %}

<script type='text/javascript'>

</script>
<script type="text/javascript">
  $('#comment_from').djangoajaxform({
      onValidateSucc: function(data, form){
        if (data.valid) {
          $('#id_comments').append(data.html);
          $('#id_content').val('');
        }
      }
  });

  
</script>

{% endblock %}
